.messages {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.ant-skeleton-avatar-square {
    border-radius: 0.2rem;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.57);
    transition: background-color 0.5s ease;
}