.chat-icon {
    cursor: pointer;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.chat-icon i {
    filter: invert(1); /* Инверсия цвета */
    mix-blend-mode: overlay;
}

.chat-icon:hover {
    transform: scale(1.08);
    padding-left: 10px;
}