.message {
    display: flex;
    width: 100%;
    gap: .3em;
}

.message.message_right {
    justify-content: end;
    flex-direction: row-reverse;
}

.message.message_left {
    justify-content: start;
    flex-direction: row;
}

.message .message_avatar {
    background-color: #b6b6b6;
}

.message .ant-card-body {
    padding: 0.3em;
}

.message-time {
    font-size: 10px;
}

.message-text {
    cursor: pointer;
    transition: .3s ease-in-out;
}

.message-text:hover {
    opacity: 0.35;
}

.reverse {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}